<% provide(:title, "ホーム") %>
<div>
  <h1>静かな家に住もう</h1>
</div>

<div>
  <h2>騒音問題に悩んでいる方
  マンションやアパートの音環境を共有しましょう</h2>
</div>

<div class="col-md-8">
  <h3>投稿一覧</h3>
  <%= render 'shared/feed' %>
</div>
