<% provide(:title, "使い方") %>
  <h2 class="topspace">その１</h2>
  <h3 class="center usage-explanation">
  マンション、アパートなどの音環境だけに特化した情報を投稿したり、見るサイトです。
  </h3>
  <h2>その２</h2>
  <h3 class="center usage-explanation">
  ホーム画面の投稿一覧を見てみましょう。
  </h3>
  <h2>その３</h2>
  <h3 class="center usage-explanation">
  エリアで気になるエリアをクリックして一覧を見てみましょう。
  </h3>
  <h2>その４</h2>
  <h3 class="center usage-explanation">
  検索から検索したい県や市区町村を入力して一覧を見てみましょう。
  </h3>
  <h2>その５</h2>
  <h3 class="center mt40 mb20">
  新規登録してログインしてみましょう。<br>
  物件情報を新規投稿してみましょう。<br>
  <br>
  物件名、物件の詳細、評価を小数点まで1〜5で入力、<br>
  都道府県名、市区町村名を入力します。<br>
  <br>
  画像を添付する場合、ファイルを選択から画像を選択します。</h3>
  <br>
  <p class="picture-explanation">
  フォーマットはpng,jpeg,gifを投稿できます。
  </p>
  <br>
  <p class="picture-explanation">サイズは５MB以内でお願いします。
  </p>

